@{
    ViewData["Title"] = "Page 1";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="eventos.css" />
</head>
<body>
<header>
    <img src="" alt="logo">
    <input type="text">
    <input type="search">
    <button><a href="produtor.html">Área do Produtor</a></button>
    <img src="" alt="Perfil-usuario">
</header>
<section class="container-page-ingressos">
    <div class="card-ingresso">
        <p>
            Ativos
        </p>
        <div class="content-ingressos">
            <div class="card">
                   <span class="title-evento">
                       Evento 1
                   </span>
                <img src="https://assets.bileto.sympla.com.br/eventmanager/production/2c4d0koa8q2q1ok5hrar17dn9gq9omnjjcrjn7b2e4vd9um2qa21e5intvghpcumifr4blismn60k3lgfbt2u5gqul444fko9sm54cp.webp"/>
                <div>
                       <span class="date-evento">
                           20/12/2024 18:30
                       </span>
                </div>
                <p>
                    Bentu com Sérgio Pererê e Badi Assad  MÚSICA DE DOMINGO
                </p>
            </div>
        </div>

    </div>

    <div class="card-action">
        <h3>
            Ingressos
        </h3>
        <a>
            Encontrar eventos
        </a>
    </div>

</section>


</body>
</html>